<style>
    .head{
      text-align: center;
      text-decoration: underline;
      font: 30px Arial, sans-serif;
      color:tomato;
    }
    .thead{
      background-color: lightblue;
      font-weight: bolder;
    }
    .row{
      background-color: lightpink;
      font-weight: bolder;
    }
</style>
